<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="PlayerServiceSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:50527/PlayerService.asmx"
                binding="basicHttpBinding" bindingConfiguration="PlayerServiceSoap"
                contract="ServiceReference1.PlayerServiceSoap" name="PlayerServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>